<!--{include index_header}-->
<!--{include pt_left_menu}-->
  <div class="layui-body">
    <!-- 内容主体区域 -->
	<div class="postnav">流量主 - <span class="">流量主详情</span></div>
	<div class="layuibodycont">
		<div class="topblock clearfix">
			<dl class="topitemdl topitemdlsep25">
				<dd>广告位数量</dd>
				<dt>130个</dt>
			</dl>
			<dl class="topitemdl topitemdlsep25">
				<dd>收益总额(元)</dd>
				<dt>￥33040.10</dt>
			</dl>
			<dl class="topitemdl topitemdlsep25">
				<dd>可提现金额(元)</dd>
				<dt>￥60040.30</dt>
			</dl>
			<dl class="topitemdl topitemdlsep25 topitemdlsepfirst">
				<dd><span class="">账号：</span>18600546906<a class="liuuseropear liuuseropearjs">封号</a></dd>
				<dd><span class="">邮箱：</span>18600546906</dd>
			</dl>
		</div>
		<div class="clearfix" style="margin-top:20px">
			<div class="countitem fl">
				<div class="countnav"><p class="fl countleft"><i><img src="images/icon04.png"></i><span>近七天广告推广量</span></p>
				<span class="fr countright">平均收益<i class="">￥0.3</i></span></div>
				<div class="">
					<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
				<div id="report-chart" class="report-chart" style="height:400px" data-action="week"></div>
				<!-- ECharts单文件引入 -->

				</div>
			</div>
			<div class="countitem fr">
				<div class="countnav"><p class="fl countleft"><i><img src="images/icon02.png"></i><span>近七天收益金额</span></p>
				</div>
				<div class="">
					<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
				<div id="report-chart2" class="report-chart" style="height:400px" data-action="week"></div>
				<!-- ECharts单文件引入 -->
				</div>
			</div>
		</div>
		<div class="clearfix mt10">
			<table class="layui-table">
			  <thead>
				<tr>
				  <th>广告位ID</th>
				  <th>icon</th>
				  <th>展示量</th>
				  <th>曝光量</th>
				  <th>点击量</th>
				  <th>点击率</th>
				  <th>均价</th>
				  <th>指导价</th>
				  <th>收益</th>
				  <th>查看</th>
				  <th>状态</th>
				</tr> 
			  </thead>
			  <tbody>
				<tr>
				  <td>1dfedf1s</td>
				  <td><div class="iconpic"><img src="images/dot003.png"></div></td>
				  <td>32654</td>
				  <td>1354</td>
				  <td>1354</td>
				  <td>35%</td>
				  <td>￥4.5</td>
				  <td><span class="tdfont01 editjs">￥<input type="text" value="70" class="editput" disabled /></span></td>
				  <td>￥3000.00</td>
				  <td><a href="广告位详情.html" class="tdviewbtn">查看</a></td>
				  <td><span class="opearbtn opearbtnjs2 active">关闭</span></td>
				</tr>
				<tr>
				  <td>1dfedf1s</td>
				  <td><div class="iconpic"><img src="images/dot003.png"></div></td>
				  <td>32654</td>
				  <td>1354</td>
				  <td>1354</td>
				  <td>35%</td>
				  <td>￥4.5</td>
				  <td><span class="tdfont01 editjs">￥<input type="text" value="70" class="editput" disabled /></span></td>
				  <td>￥3000.00</td>
				  <td><a href="广告位详情.html" class="tdviewbtn">查看</a></td>
				  <td><span class="opearbtn opearbtnjs">开启</span></td>

				</tr>
				<tr>
				  <td>1dfedf1s</td>
				  <td><div class="iconpic"><img src="images/dot003.png"></div></td>
				  <td>32654</td>
				  <td>1354</td>
				  <td>1354</td>
				  <td>35%</td>
				  <td>￥4.5</td>
				  <td><span class="tdfont01 editjs">￥<input type="text" value="70" class="editput" disabled /></span></td>
				  <td>￥3000.00</td>
				  <td><a href="广告位详情.html" class="tdviewbtn">查看</a></td>
				  <!--<td><a href="page-1-运营平台2广告主_4广告审核3展示.html"><span class="tdstatus">已审核</span></a></td>-->
				  <td><span class="opearbtn opearbtnjs">开启</span></td>
				</tr>
			  </tbody>
			</table>
			<div id="demo0" class="pages"></div>

		</div>
    </div>
  </div>
  <!--<div class="site-tree-mobile layui-hide">
	  <i class="layui-icon layui-icon01"></i>
  </div>-->

</div>
 <div class="selectgoodsbox tx" id="layer03">
	<div class="adopearbox">您确定要封号吗？</div>
</div>
<div class="selectgoodsbox tx" id="layer04">
   <div class="">
		<p class="editprice">编辑价格</p>
		<div class="adopearbox">
			<form class="layui-form">
				<div class="layui-form-item">
					<label class="layui-form-label">价格：</label>
					<div class="layui-input-block" >
					  <span>￥</span><input type="text" name="title" placeholder="请输入新的价格" class="layui-input">
					</div>
				  </div>
			 </form>
		</div>
	</div>
</div>
 <div class="selectgoodsbox tx" id="layer01">
	<div class="adopearbox">确定后将关闭，您确定要关闭吗？</div>
</div>
 <div class="selectgoodsbox tx" id="layer02">
	<div class="adopearbox">确定后将开启，您确定要开启吗？</div>
</div>

<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="layui/layui.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/moment.min.js"></script>
<script type="text/javascript" src="js/detect-report.js"></script>
<script type="text/javascript" src="js/echarts.common.min.js"></script>

<script>
layui.use('layer', function(){ //独立版的layer无需执行这一句
  var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
	$(document).on("click",".liuuseropearjs",function(){
		layer.open({
			type: 1
			,title: false //不显示标题栏
			,closeBtn: false
			,area: ['400px', '130px']
			,shade: 0.8
			,id: 'LAY_layuipro' //设定一个id，防止重复弹出
			,btn: ['确定','取消']
			,moveType: 1 //拖拽模式，0或者1
			,content: $('#layer03')
			,success: function(layero){
			  //成功输出内容
			  console.log(11);
			}
		});
	});
	$(document).on("click",".editjs",function(){
		layer.open({
			type: 1
			,title: false //不显示标题栏
			,closeBtn: false
			,area: ['400px', '230px']
			,shade: 0.8
			,id: 'LAY_layuipro' //设定一个id，防止重复弹出
			,btn: ['确定','取消']
			,moveType: 1 //拖拽模式，0或者1
			,content: $('#layer04')
			,success: function(layero){
			  //成功输出内容
			  console.log(11);
			}
		});
	});
	$(document).on("click",".opearbtnjs",function(){
		layer.open({
			type: 1
			,title: false //不显示标题栏
			,closeBtn: false
			,area: ['400px', '130px']
			,shade: 0.8
			,id: 'LAY_layuipro' //设定一个id，防止重复弹出
			,btn: ['确定','取消']
			,moveType: 1 //拖拽模式，0或者1
			,content: $('#layer01')
			,success: function(layero){
			  //成功输出内容
			  console.log(11);
			}
		});
	});
	$(document).on("click",".opearbtnjs2",function(){
		layer.open({
			type: 1
			,title: false //不显示标题栏
			,closeBtn: false
			,area: ['400px', '130px']
			,shade: 0.8
			,id: 'LAY_layuipro' //设定一个id，防止重复弹出
			,btn: ['确定','取消']
			,moveType: 1 //拖拽模式，0或者1
			,content: $('#layer02')
			,success: function(layero){
			  //成功输出内容
			  console.log(11);
			}
		});
	});

});
layui.use(['laypage', 'layer'], function(){
  var laypage = layui.laypage
  ,layer = layui.layer;
  //总页数低于页码总数
  laypage.render({
    elem: 'demo0'
    ,count: 50 //数据总数
  });
  });


// 基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('report-chart'));
var myChart2 = echarts.init(document.getElementById('report-chart2'));

// 指定图表的配置项和数据
var option = {
    title : {
       // text: '某楼盘销售情况',
       // subtext: '纯属虚构'
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['展示','点击']
    },
    toolbox: {
        feature: {
           // saveAsImage: {}//将统计图保存为
        }
        ,right:100
        ,top:0
    },
	grid: {
        left: '3%',
        right: '4%',
        bottom: '9%',
        containLabel: true
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            data : ['周一','周二','周三','周四','周五','周六','周日']
        }
    ],
    yAxis: {
		'name':'(个)',
        type: 'value'
    },
    series : [
        {
            name:'展示',
            type:'line',
           // smooth:true,
            itemStyle: {normal: {areaStyle: {type: 'default'},label : {
								show:true,
								position:'top',
								formatter:'{c}'
							},
							areaStyle:{
								color:new echarts.graphic.LinearGradient(0, 0, 0, 1, [{ 
									offset: 0,
									color: '#afeff3'
								}, {
									offset: .34,
									color: '#dcf8fa'
								},{
									offset: 1,
									color: '#fff'
								}])
							},
							color:'#2cc6ad'}},
            data:[10, 12, 21, 54, 260, 830, 710]
        },
        {
            name:'点击',
            type:'line',
           // smooth:true,
			itemStyle: {normal: {
			areaStyle: {type: 'default'},
			label : {show:true,position:'top',formatter:'{c}'},
			areaStyle:{
								color:new echarts.graphic.LinearGradient(0, 0, 0, 1, [{ 
									offset: 0,
									color: '#ffd280'
								}, {
									offset: .34,
									color: '#ffe7ba'
								},{
									offset: 1,
									color: '#fff'
								}])
							},color:'#ffc400'
			}},
            data:[30, 182, 434, 791, 390, 30, 10]
        }
    ]
};
// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);

var option2 = {
    title : {
       // text: '某楼盘销售情况',
       // subtext: '纯属虚构'
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['金额',]
    },
    toolbox: {
        feature: {
           // saveAsImage: {}//将统计图保存为
        }
        ,right:100
        ,top:0
    },
	grid: {
        left: '2%',
        right: '3%',
        bottom: '9%',
        containLabel: true
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            data : ['周一','周二','周三','周四','周五','周六','周日']
        }
    ],
    yAxis: {
		'name':'(元)',
        type: 'value'
    },
    series : [
        {
            name:'金额',
            type:'line',
            itemStyle: {normal: {
			areaStyle: {type: 'default'},
			label : {show:true,position:'top',formatter:'{c}'},
			areaStyle:{
								color:new echarts.graphic.LinearGradient(0, 0, 0, 1, [{ 
									offset: 0,
									color: '#afeff3'
								}, {
									offset: .34,
									color: '#dcf8fa'
								},{
									offset: 1,
									color: '#fff'
								}])
							},color:'#2cc6ad'
			}},
            stack: '总量',
            data:[120, 132, 101, 134, 90, 230, 210]

        }
    ]
}; 
// 使用刚指定的配置项和数据显示图表。
myChart2.setOption(option2); 
window.addEventListener("resize", function () {
    myChart.resize();
	myChart2.resize();
});  

</script>
</body>
</html>
