<!--{include index_header}-->
<!--{include pt_left_menu}-->
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
	<div class="postnav">SDK管理 - <span class="">添加SDK</span></div>
	<div class="layuibodycont">
		<div class="clearfix formblock">
			<p class="formtitle">添加SDK</p>
			<form class="layui-form autoform">
				<div class="layui-form-item">
					<label class="layui-form-label">SDK名称：</label>
					<div class="layui-input-block">
					  <input type="text" name="title"  placeholder="" class="layui-input" />
					</div>
				  </div>
				  <div class="layui-form-item">
					<label class="layui-form-label">URL：</label>
					<div class="layui-input-block">
					  <input type="text" name="title"  placeholder="" class="layui-input" />
					</div>
				  </div>
				  <div class="layui-form-item">
					<label class="layui-form-label">小程序ID：</label>
					<div class="layui-input-block">
					  <input type="text" name="title"  placeholder="" class="layui-input" />
					</div>
				  </div>
				  <div class="layui-form-item">
					<label class="layui-form-label">APP ID：</label>
					<div class="layui-input-block">
					  <input type="text" name="title"  placeholder="" class="layui-input" />
					</div>
				  </div>
				  <div class="layui-form-item">
					<label class="layui-form-label">icon：</label>
					<div class="layui-input-block">
					  <!--<div class="addfiles">
						<div class="addfilesbtn"><span class=""></span></div>
						<input type="file" class="putfiles" />
					  </div>-->
					  <div class="file-input-wrapper">
							<input type="button" class="file_btn" value="">
							<input type="file" class="file-input" value="">
						</div>
					  <span class="addfilespro">尺寸：100*100像素</span>
					</div>
				  </div>
				  <div class="layui-form-item">
					<div class="layui-input-block formopearbtn">
					  <button class="layui-btn layui-btn-primary resetbtn">取消</button>
					  <button class="layui-btn addbtn" lay-submit="" lay-filter="demo1">添加</button>
					</div>
				  </div>
			</form>
		</div>
    </div>
  </div>
  <!--<div class="site-tree-mobile layui-hide">
	  <i class="layui-icon layui-icon01"></i>
  </div>-->

</div>
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="layui/layui.js"></script>
<script type="text/javascript" src="js/global.js"></script>
</body>
</html>
