<!--{include index_header}-->
<!--{include pt_left_menu}-->
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
	<div class="postnav">广告主 - <span class="">添加广告主</span></div>
	<div class="layuibodycont">
		<div class="clearfix formblock">
			<p class="formtitle">添加广告主</p>
			<form class="layui-form autoform">
				<div class="layui-form-item">
					<label class="layui-form-label">手机号：</label>
					<div class="layui-input-block">
					  <input type="text" name="title"  placeholder="输入广告主手机号，用于登录系统" class="layui-input" />
					</div>
				  </div>
				  <div class="layui-form-item">
					<label class="layui-form-label">邮箱地址：</label>
					<div class="layui-input-block">
					  <input type="text" name="title"  placeholder="输入广告主的邮箱地址，与手机号绑定为同一个账号" class="layui-input" />
					</div>
				  </div>
				  <div class="layui-form-item">
					<label class="layui-form-label">初始密码：</label>
					<div class="layui-input-block">
					  <input type="text" name="title"  placeholder="设置6~12位数字或字母的密码" class="layui-input" />
					</div>
				  </div>
				  <div class="layui-form-item">
					<div class="layui-input-block formopearbtn">
					  <button class="layui-btn layui-btn-primary resetbtn">取消</button>
					  <button class="layui-btn addbtn" lay-submit="" lay-filter="demo1">添加</button>
					</div>
				  </div>
			</form>
		</div>
    </div>
  </div>
  <!--<div class="site-tree-mobile layui-hide">
	  <i class="layui-icon layui-icon01"></i>
  </div>-->

</div>
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="layui/layui.js"></script>
<script type="text/javascript" src="js/global.js"></script>
</body>
</html>
