<!--{include index_header}-->
<!--{include pt_left_menu}-->
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
	<div class="postnav">广告主 - <span class="">广告主详情</span></div>
	<div class="layuibodycont">
		<div class="clearfix formblock">
			<form class="layui-form autolayblock">
				<div class="layui-form-item">
					<label class="layui-form-label">广告名称：</label>
					<div class="layui-input-block">
					  <input type="text" name="title"  placeholder="米家小程序" disabled class="layui-input" />
					</div>
				  </div>
				  <div class="layui-form-item">
					<label class="layui-form-label">广告导语：</label>
					<div class="layui-input-block">
						<div class="areabox">
						  <textarea disabled class="" >米家小程序米家小程序米家小程序米家小程序米家小程序米家小程序</textarea>
						</div>
					</div>
				  </div>
				  <div class="layui-form-item">
					<label class="layui-form-label">小程序路径：</label>
					<div class="layui-input-block">
						<input type="text" name="title"  placeholder="https://www.baidu.com/index.php?tn=56060048_4_pg&ch=12" disabled class="layui-input" />
					</div>
				  </div>
				  <div class="layui-form-item">
					<label class="layui-form-label">点击单价：</label>
					<div class="layui-input-block">
					  <input type="text" name="title" placeholder="" value="0.50" class="layui-input putprice" disabled>
					</div>
				  </div>
				  
				  <div class="layui-form-item">
					<label class="layui-form-label">icon：</label>
					<div class="layui-input-block">
					  <div class="file-input-wrapper">
						<img src="images/dot003.png" />
					  </div>
					</div>
				  </div>
				  <div class="layui-form-item">
					<label class="layui-form-label">广告图：</label>
					<div class="layui-input-block">
					  <div class="adbanner">
						<img src="images/m.jpg" />
					  </div>
					</div>
				  </div>
				   
				  <hr class="line"/>
				  <div class="layui-form-item">
					<label class="layui-form-label" style="color:#666666;">SDK：</label>
					<div class="layui-input-block">
					  <a href="绑定SDK.html"><span class="bindbtn">绑定</span></a>
					</div>
				  </div>
				  <div class="layui-form-item">
					<div class="layui-input-block formopearbtn">
					  <button class="layui-btn layui-btn-primary resetbtn">取消</button>
					  <button class="layui-btn addbtn" lay-submit="" lay-filter="demo1">通过审核</button>
					</div>
				  </div>
			</form>
		</div>
    </div>
  </div>
  <!--<div class="site-tree-mobile layui-hide">
	  <i class="layui-icon layui-icon01"></i>
  </div>-->

</div>
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="layui/layui.js"></script>
<script type="text/javascript" src="js/global.js"></script>

</body>
</html>
