<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>运营平台</title>
	<meta name="renderer" content="webkit">	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">	
	<meta name="apple-mobile-web-app-capable" content="yes">	
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" media="all"/>
	<link rel="stylesheet" type="text/css" href="layui/css/layui.css" media="all"/>
	<!----><link rel="stylesheet" type="text/css" href="css/global.css" media="all"/>
	<style>
	.layui-table-cell { height:auto}
	</style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">
		<span class="loginname">20楼</span>
		<span class="layuitoptags">广告运营平台</span>
	</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
	<ul class="layui-nav">
	  <li class="layui-nav-item layui-this">
		<a href="javascript:;"><img src="images/head.png" class="headerpic" /><span>18600904754</span></a>
		<dl class="layui-nav-child">
		  <dd><a href="">退出</a></dd>
		</dl>
	  </li>
	</ul>
  </div>
  <div class="layui-side layui-bg-black layui-larry-side">
    <div class="layui-side-scroll">
      <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item">
			<a href="pt_index.html">
				<i class="iconfont icon-01"></i>
				<span>首页</span>
			</a>
        </li>
        <li class="layui-nav-item">
			<a href="page-1-运营平台3流量主_1列表-.html">
				<i class="iconfont icon-03"></i>
				<span>流量主</span>
			</a>
		</li>
		<li class="layui-nav-item">
          <a href="page-1-运营平台2广告主_1列表.html">
				<i class="iconfont icon-02"></i>
				<span>广告主</span>
			</a>
        </li>
        <li class="layui-nav-item layui-this">
			<a href="page-1-运营平台4广告管理_1列表.html">
				<i class="iconfont icon-04"></i>
				<span>广告管理</span>
			</a>
		</li>
		<li class="layui-nav-item">
			<a href="page-1-运营平台5sdk管理_1列表-.html">
				<i class="iconfont icon-05"></i>
				<span>SDK管理</span>
			</a>
		</li>
		<li class="layui-nav-item">
			<a href="#">
				<i class="iconfont icon-06"></i>
				<span>财务</span>
			</a>
			<dl class="layui-nav-child">
			  <dd class="">
				<a href="page-1-运营平台6财务_1充值列表.html">
				  充值
				</a>
			  </dd>
			  <dd class="">
				<a href="page-1-运营平台6财务_2开具发票_1.html">
				  开具发票
				</a>
			  </dd>
			  <dd class="">
				<a href="提现管理.html">
				  提现管理
				</a>
			  </dd>
			</dl>
		</li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
	<div class="postnav">广告管理 - <span class="">广告位详情</span></div>
	<div class="layuibodycont">
		<div class="clearfix adposbox">
			<div class="clearfix adpostop">
				<img src="images/dot003.png" />
				<dl>
					<dt>米家小程序<span>广告主：18609400325</span></dt>
					<dd>小程序路径：https://www.baidu.com/</dd>
					<dd>广告导语：家小程序米家小程序米家小程序米家小程序米家小程序米家小程序</dd>
				</dl>
			</div>
			<div class="clearfix topblock">
				<dl class="topitemdl topitemdl30">
					<dd>点击单价</dd>
					<dt>￥0.30</dt>
				</dl>
				<dl class="topitemdl topitemdl30">
					<dd>点击率</dd>
					<dt>30%</dt>
				</dl>
				<dl class="topitemdl topitemdl30 noborder">
					<dd>消耗</dd>
					<dt>￥60040.30</dt>
				</dl>

			</div>
		</div>
		<div class="clearfix navtabs">
			<span class="navpan">今日</span>
			<span class="navpan">昨日</span>
			<span class="navpan active">近7天</span>
			<span class="navpan">本月</span>
			<div class="layui-inline" style="margin-top:4px;">
			  <label class="layui-form-label">时间</label>
			  <div class="layui-input-inline">
				<input type="text" class="layui-input" id="test6" placeholder="开始 到 结束" lay-key="1">
			  </div>
			</div>
		</div>
		<div class="clearfix mt10">
			<div class="countitem countitemone">
				<div class="countnav"><p class="fl countleft"><i><img src="images/icon04.png"></i><span>广告推广量</span></p>
				<span class="fr countright">均价<i class="">￥0.3</i></span></div>
				<div class="">
					<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
				<div id="report-chart" class="report-chart" style="height:400px" data-action="week"></div>
				<!-- ECharts单文件引入 -->
				</div>
			</div>

		</div>
    </div>
  </div>
  <!--<div class="site-tree-mobile layui-hide">
	  <i class="layui-icon layui-icon01"></i>
  </div>-->

</div>
 <div class="selectgoodsbox tx" id="layer03">
	<div class="adopearbox">您确定要撤下吗？</div>
</div>


<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="layui/layui.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/moment.min.js"></script>
<script type="text/javascript" src="js/detect-report.js"></script>
<script type="text/javascript" src="js/echarts.common.min.js"></script>

<script>
layui.use('laydate', function(){
  var laydate = layui.laydate;
//日期范围
  laydate.render({
    elem: '#test6'
    ,range: true
  });
 });

layui.use('layer', function(){ //独立版的layer无需执行这一句
  var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
	$(document).on("click",".tdopearbtnjs",function(){
		layer.open({
			type: 1
			,title: false //不显示标题栏
			,closeBtn: false
			,area: ['400px', '130px']
			,shade: 0.8
			,id: 'LAY_layuipro' //设定一个id，防止重复弹出
			,btn: ['确定','取消']
			,moveType: 1 //拖拽模式，0或者1
			,content: $('#layer03')
			,success: function(layero){
			  //成功输出内容
			  console.log(11);
			}
		});
	});
});

// 基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('report-chart'));
// 指定图表的配置项和数据
var option = {
    title : {
       // text: '某楼盘销售情况',
       // subtext: '纯属虚构'
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['展示','点击']
    },
    toolbox: {
        feature: {
           // saveAsImage: {}//将统计图保存为
        }
        ,right:100
        ,top:0
    },
	grid: {
        left: '3%',
        right: '4%',
        bottom: '9%',
        containLabel: true
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            data : ['6.21','6.22','6.23','6.24','6.25','6.26','6.27']
        }
    ],
    yAxis: {
		'name':'(个)',
        type: 'value'
    },
    series : [
        {
            name:'展示',
            type:'line',
           // smooth:true,
            itemStyle: {normal: {areaStyle: {type: 'default'},label : {
								show:true,
								position:'top',
								formatter:'{c}'
							},
							areaStyle:{
								color:new echarts.graphic.LinearGradient(0, 0, 0, 1, [{ 
									offset: 0,
									color: '#afeff3'
								}, {
									offset: .34,
									color: '#dcf8fa'
								},{
									offset: 1,
									color: '#fff'
								}])
							},
							color:'#2cc6ad'}},
            data:[10, 12, 21, 54, 260, 830, 710]
        },
        {
            name:'点击',
            type:'line',
           // smooth:true,
			itemStyle: {normal: {
			areaStyle: {type: 'default'},
			label : {show:true,position:'top',formatter:'{c}'},
			areaStyle:{
								color:new echarts.graphic.LinearGradient(0, 0, 0, 1, [{ 
									offset: 0,
									color: '#ffd280'
								}, {
									offset: .34,
									color: '#ffe7ba'
								},{
									offset: 1,
									color: '#fff'
								}])
							},color:'#ffc400'
			}},
            data:[30, 182, 434, 791, 390, 30, 10]
        }
    ]
};
// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);
window.addEventListener("resize", function () {
    myChart.resize();
});
</script>
</body>
</html>
