<!--{include index_header}-->
<!--{include ad_left_menu}-->
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
	<div class="layuibodycont">
		<div class="clearfix formblock">
			<form class="layui-form autolayblock">
				<div class="layui-form-item">
					<label class="layui-form-label">广告名称：</label>
					<div class="layui-input-block">
					  <input type="text" name="title"  placeholder="米家小程序" disabled class="layui-input" />
					</div>
				  </div>
				  <div class="layui-form-item">
					<label class="layui-form-label">广告导语：</label>
					<div class="layui-input-block">
						<div class="areabox">
						  <textarea disabled class="" >米家小程序米家小程序米家小程序米家小程序米家小程序米家小程序</textarea>
						</div>
					</div>
				  </div>
				  <div class="layui-form-item">
					<label class="layui-form-label">小程序路径：</label>
					<div class="layui-input-block">
						<div class="areabox">
						  <textarea disabled class="" >米家小程序米家小程序米家小程序米家小程序米家小程序米家小程序</textarea>
						</div>
					</div>
				  </div>
				  <div class="layui-form-item">
					<label class="layui-form-label">点击单价：</label>
					<div class="layui-input-block">
					  <input type="text" name="title"  placeholder="" value="0.50" class="layui-input putprice" />
					</div>
				  </div>
				  
				  <div class="layui-form-item">
					<label class="layui-form-label">icon：</label>
					<div class="layui-input-block">
					<!--上传图片之前的样式-->
					  <div class="file-input-wrapper">
						<input type="button" class="file_btn" value="" />
						<input type="file" class="file-input" value="" />
					  </div>
					  <!--上传图片之后的样式
					  <div class="file-input-wrapper">
						<input type="button" class="file_btn" value="" />
						<input type="file" class="file-input" value="" />
						<img src="images/dot003.png" class="" />
					  </div>-->
					  <span class="addfilespro grayfont">建议上传100*100像素的图片</span>
					</div>
				  </div>
				  <div class="layui-form-item">
					<label class="layui-form-label">广告图：</label>
					<div class="layui-input-block">
					  <!--上传图片之前的样式
					  <div class="file-input-wrapper3 adbanner">
						<input type="button" class="file_btn3" value="" />
						<input type="file" class="file-input3" value="" />
					  </div>-->
					  <!--上传图片之后的样式-->
					  <div class="file-input-wrapper3 adbanner">
						<input type="button" class="file_btn3" value="" />
						<input type="file" class="file-input3" value="" />
						<img src="images/m.jpg" class="" />
					  </div>
					  <span class="addfilespro grayfont">建议上传470*360像素的图片</span>
					</div>
				  </div>
				  <div class="layui-form-item">
					<div class="layui-input-block formopearbtn">
					  <button class="layui-btn layui-btn-primary resetbtn">取消</button>
					  <button class="layui-btn addbtn" lay-submit="" lay-filter="demo1">提交</button>
					</div>
				  </div>
			</form>
		</div>
    </div>
  </div>
  <!--<div class="site-tree-mobile layui-hide">
	  <i class="layui-icon layui-icon01"></i>
  </div>-->

</div>
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="layui/layui.js"></script>
<script type="text/javascript" src="js/global.js"></script>

</body>
</html>
